@charset "utf-8";

.search-box {
	display: none;
}
#spot #snb .nav > li:last-child > button:before {
	width: 1px;
}
@media screen and (max-width:1024px) {
	#spot #snb {
		display: none;
	}
}